* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #FFFFFF;
}
p {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.button {
    border: 1px solid;
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 68px;
    border-radius: 5px;
    border-color: #F05A22;
}
.button-buy {
    width: 176px;
    background-color: #F05A22;
    color: white;
    margin-right: 39px;
}
.button-details {
    width: 287px;
    background-color: white;
    color: #F05A22;
}
.intro-text {
    margin-top: 60px;
    margin-left: 74px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 77px;
}
.title {
    font-size: 48px;
    font-weight: bold;
}
.author {
    font-size: 30px;
}
.description {
    font-size: 18px;
    margin-top: 35px;
    max-width: 542px;
}
.price {
    font-size: 48px;
    margin-top: 47px;
    color: #313131;
    margin-bottom: 52px;
}
.delivery-container {
    margin-top: 95px;
    background-color: #F2F2F2;
    padding-top: 90px;
    padding-bottom: 99px;
}
.delivery-title {
    text-align: center;
    background-color: #F2F2F2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.delivery-types {
    background-color: #F2F2F2;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 141px;
    justify-content: space-between;
    align-items: center;
}
.type {
    text-align: center;
}
.delivery-description {
    font-size: 18px;
    text-align: center;
}
.footer-container {
    margin-top: 90px;
    width: 100%;
    height: 409px;
}
.people-title {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 68px;
}
.people {
    display: grid;
    padding-bottom: 110px;
    grid-template-columns: repeat(4, 264px);
    gap: 39px 30px;
    justify-content: center;
}